
.box {
	background-color: #ddd;
	padding:1em;
}
.bg-gray {
	background-color: #666;
	border:solid 1px;
	color:#fff;
}
.bg-blue {
	background-color:cornflowerblue;
	border:solid 1px;
	color:#fff;
}
img{
	max-width: 100%;
}
/* Bootstrap */

